<div class="container">
  <div class="container-header">
    <p-button icon="pi pi-plus" styleClass="p-button-secondary" label="ADD" (onClick)="onAdd()"></p-button>
    <input pInputText type="text" placeholder="Search name" [(ngModel)]="searchVal" (keyup)="onSearch()" />
  </div>
  <div class="container-body card">
    <div class="grid">
      <div class="col-12 md:col-6 lg:col-4" *ngFor="let product of (products$ | async);trackBy:trackByProduct">
        <app-product-card [product]="product"></app-product-card>
      </div>
  </div>
  </div>
</div>
