<div class="col-12 md:col-4 w-full h-full">
  <div class="card m-3 border-1 surface-border">
    <div class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2">
      <div class="flex align-items-center">
        <i class="pi pi-tag mr-2"></i>
        <span class="font-semibold">{{product.category}}</span>
      </div>
    </div>
    <div class="flex flex-column align-items-center text-center mb-3">

      <img [ngSrc]="'assets/images/products/' + product.image" width="225" height="150" [alt]="product.name"
        class="shadow-2 my-3 mx-0" />
        <p-tag *ngIf="product.inventoryStatus === 'INSTOCK'" [severity]="severityByInventoryStatus.INSTOCK">
          {{labelByInventoryStatus.INSTOCK}}</p-tag>
        <p-tag *ngIf="product.inventoryStatus === 'LOWSTOCK'" [severity]="severityByInventoryStatus.LOWSTOCK">
          {{labelByInventoryStatus.LOWSTOCK}}</p-tag>
        <p-tag *ngIf="product.inventoryStatus === 'OUTOFSTOCK'" [severity]="severityByInventoryStatus.OUTOFSTOCK">
          {{labelByInventoryStatus.OUTOFSTOCK}}</p-tag>
      <span class="text-2xl font-light mt-2">${{product.price}}</span>
      <div class="text-2xl font-bold mt-2">{{product.name}}</div>

      <div class="mb-3">{{product.description}}</div>

      <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
    </div>
    <div class="flex align-items-center justify-content-end">

      <p-button icon="pi pi-trash" styleClass="p-button-danger" (onClick)="softDelete(product)"></p-button>
    </div>
  </div>
</div>
<p-confirmDialog></p-confirmDialog>
