<div class="container">
  <div class="container-header">
    <p-button icon="pi pi-arrow-left" label="Navigate back" styleClass="p-button-help"
      (onClick)="onNavigateBack()"></p-button>
    <div class="text-2xl font-bold text-center">
      Add New Product
    </div>
  </div>
  <div class="container-body card">
    <div class="grid">
      <div class="col-12 md:col-6 lg:col-4 w-full">

        <div class="card">
          <!-- <img width="200" height="125" class="mb-3"> -->

          <form [formGroup]="productForm">
            <div class="formgrid grid">
              <div class="field col-12">
                <label htmlFor="name" class="">Name</label>
                <input pInputText id="name" type="text" class="p-inputtext-md w-full" placeholder="Name"
                  formControlName="name" />
              </div>
              <div class="field col-12">
                <label htmlFor="description" class="">Description</label>
                <textarea rows="5" cols="30" id="description" pInputTextarea class="w-full" placeholder="Description"
                  formControlName="description"></textarea>
              </div>

              <div class="field col-12 md:col-6">
                <label>Quantity</label>
                <p-inputNumber class="w-full" formControlName="quantity" [showButtons]="true" buttonLayout="horizontal"
                  spinnerMode="horizontal" [step]="1" decrementButtonClass="p-button-secondary"
                  incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus"
                  decrementButtonIcon="pi pi-minus"></p-inputNumber>
              </div>

              <div class="field col-12">
                <h3>Inventory status</h3>
                <div class="formgroup-inline mt-2">
                  <div class="field-radiobutton">
                    <input type="radio" id="in-stock" formControlName="inventoryStatus" value="INSTOCK">
                    <label for="in-stock">In stock</label>
                  </div>
                  <div class="field-radiobutton">
                    <input type="radio" id="out-stock" formControlName="inventoryStatus" value="OUTOFSTOCK">
                    <label for="out-stock">Out of stock</label>
                  </div>

                  <div class="field-radiobutton">
                    <input type="radio" formControlName="inventoryStatus" id="low-stock" value="LOWSTOCK">
                    <label for="low-stock">Low stock</label>
                  </div>
                </div>
              </div>

              <div class="field col-12 md:col-6">
                <label>Category</label>
                <p-dropdown formControlName="category" styleClass="w-full" inputId="inventoryStatus"
                  [options]="categories" placeholder="Select">
                </p-dropdown>
              </div>

              <div class="field col-12 md:col-6">
                <label>Price</label>
                <p-inputNumber inputId="currency-us" id="price" mode="currency" currency="USD" locale="en-US"
                  class="w-full" placeholder="Price"> </p-inputNumber>
              </div>

              <div class="field col-12">
                <div class="flex justify-content-center gap-2 mt-5">
                  <p-button label="Save" icon="pi pi-save" styleClass="p-button-success" [disabled]="!productForm.valid"
                    (onClick)="onSave()"></p-button>
                  <p-button label="Cancel" styleClass="p-button-raised p-button-text" icon="pi pi-times"
                    (onClick)="onNavigateBack()"></p-button>
                </div>
              </div>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>
</div>
